@import 'vendor/normalize.css';
@font-face {
  font-family: "Proxima Nova";
  src: url("./ProximaNova-Black.eot");
  src: local("./Proxima Nova Black"), local("ProximaNova-Black"), url("./ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("./ProximaNova-Black.woff") format("woff"), url("./ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./ProximaNova-Bold.eot");
  src: local("./Proxima Nova Bold"), local("ProximaNova-Bold"), url("./ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./ProximaNova-Bold.woff") format("woff"), url("./ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./ProximaNova-Regular.eot");
  src: local("./Proxima Nova Regular"), local("ProximaNova-Regular"), url("./ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./ProximaNova-Regular.woff") format("woff"), url("./ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./ProximaNova-Extrabld.eot");
  src: local("./Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("./ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("./ProximaNova-Extrabld.woff") format("woff"), url("./ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;
}
.header__logo-wrap {
  display: flex;
}
.header__logo {
  margin-right: 15px;
  width: 38px;
}
.header__title {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #181818;
  letter-spacing: 1%;
  text-transform: uppercase;
}
.header__subtitle {
  color: #7b7b7b;
}
@media (max-width: 760px) {
  .header__cart {
    margin-top: 30px;
  }
}
.header__cart-icon {
  margin-right: 8px;
  margin-bottom: 1px;
}

.button {
  display: inline-block;
  background-color: #fe5f1e;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.button,
.button span {
  color: #fff;
}
.button i,
.button span,
.button path,
.button svg {
  transition: all 0.15s ease-in-out;
}
.button:hover {
  background-color: #f24701;
}
.button:active {
  background-color: #de4101;
  transform: translateY(2px);
}
.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}

.button-black {
  background-color: #232323;
  padding: 12px 0 14px;
  width: 230px;
  margin: 0 auto;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.button-black:hover, .button-black:active {
  background-color: #3d3d3d;
}

.button-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  border-width: 2px;
}

.button-outline {
  background-color: #fff;
  border-color: #fe5f1e;
}
.button-outline,
.button-outline span {
  color: #fe5f1e;
}
.button-outline svg path {
  fill: #fe5f1e;
}
.button-outline:hover {
  background-color: #fe5f1e;
}
.button-outline:hover,
.button-outline:hover span {
  color: #fff;
}
.button-outline:hover svg path {
  fill: #fff;
}
.button-outline:active {
  background-color: #f24701;
}

.button-add svg {
  margin-right: 2px;
}
.button-add span {
  font-weight: 600;
  font-size: 16px;
}
.button-add:hover i {
  background-color: #fff;
  color: #fe5f1e;
}
.button-add i {
  display: inline-block;
  border-radius: 30px;
  background-color: #fe5f1e;
  color: #fff;
  font-weight: 600;
  width: 22px;
  height: 22px;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  position: relative;
  top: -1px;
  left: 3px;
}

.button-cart {
  display: flex;
  align-items: center;
  line-height: 23px;
  padding: 12px 25px;
}
.button-cart span {
  font-weight: 600;
  font-size: 16px;
}

.categories {
  flex: 1;
  max-width: 80%;
  overflow: auto;
}
@media (max-width: 760px) {
  .categories {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.categories__cells {
  display: flex;
}
.categories__cell {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: _;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.categories__cell:hover {
  opacity: 0.8;
}
.categories__cell_active {
  background-color: #282828;
  color: #fff;
}

.sort {
  margin-left: 20px;
  position: relative;
}
.sort__label {
  display: flex;
  align-items: center;
}
.sort__label-icon {
  margin-right: 8px;
  transform: rotate(0);
}
.sort__label-icon.rotated {
  transform: rotate(180deg);
}
.sort__label-text {
  margin-right: 8px;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: _;
  font-weight: bold;
}
.sort__label-type {
  color: #fe5f1e;
  border-bottom: 1px dashed #fe5f1e;
  cursor: pointer;
}
.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}
.sort__type-list {
  overflow: hidden;
}
.sort__type {
  padding: 12px 20px;
  cursor: pointer;
}
.sort__type_active, .sort__type:hover {
  background: rgba(254, 95, 30, 0.05);
}
.sort__type_active {
  font-weight: bold;
  color: #fe5f1e;
}

.pizza-block {
  min-width: 80%;
  text-align: center;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1090px) {
  .pizza-block {
    margin-bottom: 35px;
  }
}
@media (max-width: 760px) {
  .pizza-block:not(:last-of-type) {
    border-bottom: 1px solid #efefef;
    margin-bottom: 25px;
    padding-bottom: 45px;
  }
}
.pizza-block__image {
  width: 260px;
}
.pizza-block__title {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}
.pizza-block__selector {
  min-width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 6px;
}
.pizza-block__type-list {
  display: flex;
  flex: 1;
}
.pizza-block__type-list:first-of-type {
  margin-bottom: 6px;
}
.pizza-block__type {
  padding: 8px;
  flex: 1;
  cursor: pointer;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 600;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.pizza-block__type_active {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
.pizza-block__type_disabled {
  opacity: 0.4;
  pointer-events: none;
}
.pizza-block__bottom {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.pizza-block__price {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.cart__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 760px) {
  .cart__top {
    flex-direction: column;
  }
}
.cart__title {
  display: flex;
  align-items: center;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
.cart__logo {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.cart__clear {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  transition: all 0.15s ease-in-out;
}
.cart__clear:hover {
  opacity: 0.6;
}
.cart__clear-text {
  display: inline-block;
  margin-left: 7px;
  color: #b6b6b6;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.cart__item {
  display: flex;
  width: 100%;
  border-top: 1px solid #f6f6f6;
  padding-top: 30px;
  margin-top: 30px;
}
@media (max-width: 760px) {
  .cart__item {
    flex-direction: column;
    position: relative;
  }
}
.cart__item-remove {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 4%;
}
@media (max-width: 760px) {
  .cart__item-remove {
    position: absolute;
    right: 0;
    width: auto;
  }
  .cart__item-remove .button-circle {
    width: 40px;
    height: 40px;
  }
}
.cart__item-remove .button-circle {
  border-color: #dddddd;
}
.cart__item-remove svg {
  transform: rotate(45deg);
}
.cart__item-remove svg path {
  fill: #d0d0d0;
}
.cart__item-remove .button-circle svg {
  width: 11.5px;
  height: 11.5px;
  position: relative;
}
.cart__item-remove .button-circle:hover, .cart__item-remove .button-circle:active {
  border-color: #2a2a2a;
  background-color: #2a2a2a;
}
.cart__item-image-wrap {
  display: flex;
  align-items: center;
  margin-right: 15px;
  width: 10%;
}
@media (max-width: 760px) {
  .cart__item-image-wrap {
    width: 100%;
    justify-content: center;
    order: 1;
  }
}
.cart__item-image {
  width: 80px;
  height: 80px;
}
@media (max-width: 760px) {
  .cart__item-image {
    width: 60%;
    height: 100%;
  }
}
.cart__item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 10px;
}
@media (max-width: 760px) {
  .cart__item-info {
    width: 100%;
    order: 2;
  }
}
.cart__item-name {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 0.01em;
}
@media (max-width: 760px) {
  .cart__item-name {
    font-family: "Proxima Nova", Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 15px;
  }
}
@media (max-width: 500px) {
  .cart__item-name {
    font-family: "Proxima Nova", Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
}
.cart__item-text {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #8d8d8d;
}
@media (max-width: 760px) {
  .cart__item-text {
    font-family: "Proxima Nova", Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 400;
  }
}
.cart__item-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16%;
}
@media (max-width: 760px) {
  .cart__item-count {
    order: 4;
    width: 130px;
    margin: 10px 0;
  }
  .cart__item-count .button {
    width: 40px;
    height: 40px;
  }
  .cart__item-count .button svg {
    width: 14px;
    height: 14px;
  }
}
.cart__item-count-text {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 760px) {
  .cart__item-count-text {
    font-family: "Proxima Nova", Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
}
.cart__item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.01em;
}
@media (max-width: 760px) {
  .cart__item-price {
    order: 3;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0;
    font-family: "Proxima Nova", Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
}
.cart__bottom {
  margin: 50px 0;
}
.cart__bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.cart__bottom-buttons .go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  border-color: #dddddd;
}
.cart__bottom-buttons .go-back-btn__span {
  color: #c3c3c3;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: _;
  font-weight: 600;
}
.cart__bottom-buttons .go-back-btn:hover {
  background-color: #111111;
  border-color: #111111;
}
.cart__bottom-buttons .go-back-btn svg {
  margin-right: 12px;
}
.cart__bottom-buttons .go-back-btn svg path {
  fill: transparent;
  stroke-width: 2;
}
.cart__bottom-buttons .pay-btn {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 210px;
  padding: 16px;
}
.cart__bottom-buttons .pay-btn__span {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: __;
  font-weight: bold;
}
@media (max-width: 500px) {
  .cart__bottom-buttons {
    flex-direction: column;
  }
  .cart__bottom-buttons .button {
    margin-bottom: 20px;
    width: 100%;
    height: 54px;
  }
}
.cart__bottom-details {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .cart__bottom-details {
    flex-direction: column;
  }
}
.cart__bottom-details-text {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .cart__bottom-details-text:first-child {
    margin-bottom: 20px;
  }
}
.cart__bottom-details-span {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #fe5f1e;
}

.cart-empty {
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
}
.cart-empty__title {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .cart-empty__title {
    font-family: "Proxima Nova", Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
}
.cart-empty__title-span {
  font-style: normal;
  position: relative;
  top: 2px;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .cart-empty__title-span {
    font-family: "Proxima Nova", Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 400;
  }
}
.cart-empty__text {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 145.4%;
  letter-spacing: 0.01em;
  color: #777777;
}
.cart-empty__image {
  margin: 45px auto 60px;
  width: 60%;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #232323;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: "Proxima Nova", Tahoma, sans-serif;
  font-size: 28px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #ffdf8c;
  padding: 50px 0;
}
@media (max-width: 760px) {
  body {
    padding: 20px 0;
  }
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}
@media (max-width: 760px) {
  .wrapper {
    width: calc(100% - 40px);
  }
}

.content {
  padding: 40px 0;
}
.content__title {
  margin: 35px 0;
}
@media (max-width: 760px) {
  .content__title {
    font-family: "Proxima Nova", Tahoma, sans-serif;
    font-size: 36px;
    font-weight: 400;
  }
}
.content__items {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3vw;
}
@media (max-width: 1380px) {
  .content__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1090px) {
  .content__items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .content__items {
    grid-template-columns: 1fr;
  }
}
.content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 760px) {
  .content__top {
    flex-direction: column;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}
.container_type_cart {
  max-width: 820px;
  margin: 30px auto;
}
@media (max-width: 760px) {
  .container_type_cart {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.container_type_cart .content__items {
  grid-template-columns: 1fr;
}
.container_type_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 760px) {
  .container_type_header {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
