.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  @media (max-width: $tablet) {
    padding: 30px 10px;
  }

  &__logo-wrap {
    display: flex;
  }

  &__logo {
    margin-right: 15px;
    width: 38px;
  }

  &__title {
    @include font(24px, 800);
    color: #181818;
    letter-spacing: 1%;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #7b7b7b;
  }

  @media (max-width: $tablet) {
    &__cart {
      margin-top: 30px;
    }
  }

  &__cart-icon {
    margin-right: 8px;
    margin-bottom: 1px;
  }
}
